@import "../style/font.css";



/*Basic conf*/
input {outline: 0 !important;}
button {
    background: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*Unique setting*/
.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}


.section__title {
    position: relative;

    font-family: 'Micra', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 66px;
    color: #FFFFFF;
    text-align: center;

}

.text-right {
    text-align: right;
}

.section__img {

    position: absolute;
    left: 430px;
    bottom: -70px;

}

.orange_btn {
    background: #DC4400;
    border-radius: 72px;
    width: 228px;
    height: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.orange_text {
    color: #DC4400;
}

.flex-column {
    flex-direction: column;
}

.bold {
    font-weight: 700;
}

.align-items {
    align-items: center;
}
/*Hero*/
.diler__hero{
    width: 100%;
    min-height: 100vh;
    background: url("../images/anketa_back.png"), no-repeat center/cover;
    padding: 195px 0 0 0;
}
.diler__hero .section__title{
    font-family: 'Micra',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
}
.diler__hero .section__subtitle{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 70px;
}
/*Form*/

.diler__form_block {
    width: 689px;
    height: 292px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 40px;
    margin: 0 auto;
}

.diler__form_form{
    padding: 15px 90px 45px 90px;
}
.diler__form_input{
    width: 510px;
    position: relative;
    border: none;
    background: none;
    color: #FFFFFF;

}
.diler__form_form label{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}
.diler__form_span{
    position: absolute;
    width: 510px;
    border: 1px solid #aba9a9;

}
.diler__form_desc{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 22px;
}
.diler__hero .orange_btn{
    height: 64px;
    width: 689px;
}