/*Hero*/
.tracking__hero {
    width: 100%;
    min-height: 100vh;
    background: url("../images/cross_bg.png") no-repeat center/cover;
    padding: 195px 0 20px 0;
}

.tracking__hero .container {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tracking__hero .section__img {
    left: 280px;
}

.tracking__hero .section__title {
    font-size: 24px;
    line-height: 25px;

}

.tracking__hero_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 93px;
    margin-bottom: 28px;
    position: relative;

}

.tracking__hero_input {
    position: relative;
    border: none;
    width: 1170px;
    height: 64px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;


    padding: 21px 44px;
}

.tracking__hero_form {
    display: flex;

}

.tracking__hero_form .orange_btn {
    position: absolute;
    right: 386px;
    Width: 212px;
    Height: 64px;
    transition: all 0.6s;
}

.orange_btn {
    transition: all 0.6s;
}

.orange_btn:hover {
    background: #FFFFFF;
    color: #DC4400;
    font-weight: 700;
}

.tracking__hero_desc {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 34px 0;
}
.tracking__hero_block {
    width: 100%;
    height: 100%;
    padding: 70px 44px 56px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.22) 100%);
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.22);
    border-radius: 40px;

}

.tracking__hero_main {
    width: 100%;
    display: flex;
}

.tracking__hero_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
}

.tracking__hero_text:not(:last-child) {
    margin-bottom: 48px;
}

.tracking__hero_line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 3px;
    background-color: #DC4400;
}

.tracking__hero_eclipse {
    position: relative;
    width: 20px;
    height: 20px;
    right: 9px;
    background: #000000;
    border-radius: 50%;
    border: 2px solid #DC4400;
    transform: rotate(90deg);
    transition: all 0.1s;


}
.tracking__hero_eclipse:hover{
    background: #DC4400;
}
.eclipse_active{
    background: #DC4400;
}

.tracking__hero_track {
    position: relative;
    width: 15px;
    margin-right: 20px;

}
.tracking__slider {
    max-width: 100%;
    max-height: 300px;
    margin-top: 30px;
}
.tracking__slide {
    width: 100%;
    height: 100%;
}
.tracking__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}